
<h2>Products</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= truncate product.description %><button class="js-more" data-id="<%= product.id %>">More Info</button></td>
    </tr>
  <% end %>
</table>
